  html {
  --selection-color: color(var(--background) blend(var(--bluish) 30%));
  --header-bg: color(var(--foreground) blend(var(--background) 70%));
  --section-bg: color(var(--background) blend(var(--foreground) 70%));
  --panel-header-bg: color(var(--background) blend(var(--foreground) 70%));
  --panel-body-bg: color(var(--background) blend(var(--foreground) 30%));
  --btn-bg: color(var(--background) blend(var(--foreground) 50%));
  --btn-redish: color(var(--background) blend(var(--redish) 30%));
  --btn-orangish: color(var(--background) blend(var(--orangish) 30%));
  --btn-bluish: color(var(--background) blend(var(--bluish) 30%));
  --btn-greenish: color(var(--background) blend(var(--greenish) 30%));
  --font: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "sf mono", "Liberation Mono", Menlo, Courier, monospace;
  --font-size: 16px;
  --content-padding: 0.5rem 1rem;
  --section-padding: 0.25rem 1rem;

  font-size: var(--font-size);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1rem 0;
}

a {
  font-family: var(--font);
  color: var(--background);
  text-decoration: underline;
}

.fg-background { color: var(--background); }
.fg-foreground { color: var(--foreground); }
.fg-redish     { color: var(--redish);     }
.fg-orangish   { color: var(--orangish);   }
.fg-yellowish  { color: var(--yellowish);  }
.fg-greenish   { color: var(--greenish);   }
.fg-bluish     { color: var(--bluish);     }
.fg-purplish   { color: var(--purplish);   }
.fg-pinkish    { color: var(--pinkish);    }

.bg-background { background-color: var(--background); }
.bg-foreground { background-color: var(--foreground); }
.bg-redish     { background-color: var(--redish);     }
.bg-orangish   { background-color: var(--orangish);   }
.bg-yellowish  { background-color: var(--yellowish);  }
.bg-greenish   { background-color: var(--greenish);   }
.bg-bluish     { background-color: var(--bluish);     }
.bg-purplish   { background-color: var(--purplish);   }
.bg-pinkish    { background-color: var(--pinkish);    }

.content {
 padding: var(--content-padding);
}

.header {
  font-size: 1.25rem;
  background-color: var(--header-bg);
  color: var(--background);
  padding: var(--content-padding);
}

.section {
  font-size: 1.1rem;
  font-weight: 400;
  background-color: var(--section-bg);
  padding: var(--section-padding);
}

.panel {
  margin: 6px;
}

.panel-header {
  background-color: var(--panel-header-bg);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: 600;
  font-size: 1.1rem;
  padding: var(--section-padding);
}

.panel-body {
  background-color: var(--panel-body-bg);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: var(--background);
  padding: var(--content-padding);
}

.panel-success .panel-header {
  background-color: color(var(--background) blend(var(--greenish) 70%));
}

.panel-success .panel-body {
  background-color: color(var(--background) blend(var(--greenish) 30%));
}

.panel-warning .panel-header {
  background-color: color(var(--background) blend(var(--orangish) 70%));
}

.panel-warning .panel-body {
  background-color: color(var(--background) blend(var(--orangish) 30%));
}

.panel-error .panel-header {
  background-color: color(var(--background) blend(var(--redish) 70%));
}

.panel-error .panel-body {
  background-color: color(var(--background) blend(var(--redish) 30%));
}

.panel-info .panel-header {
  background-color: color(var(--background) blend(var(--bluish) 70%));
}

.panel-info .panel-body {
  background-color: color(var(--background) blend(var(--bluish) 30%));
}
