html {
  --panel-header-bg: color(var(--background) blend(var(--foreground) 70%));
  --panel-body-bg: color(var(--background) blend(var(--foreground) 30%));
  --font: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "sf mono", "Liberation Mono", Menlo, Courier, monospace;
  --font-size: 16px;
  --content-padding: 0.5rem 1rem;
  --section-padding: 0.25rem 1rem;

  font-size: var(--font-size);
}

body {
  background-color: transparent;
  color: var(--foreground);
  font-family: var(--font);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 0 0;
}

a {
  font-family: var(--font);
  color: var(--background);
  text-decoration: underline;
}

.fg-background { color: var(--background); }
.fg-foreground { color: var(--foreground); }
.fg-redish     { color: var(--redish);     }
.fg-orangish   { color: var(--orangish);   }
.fg-greenish   { color: var(--greenish);   }
.fg-bluish     { color: var(--bluish);     }

.bg-background { background-color: var(--background); }
.bg-foreground { background-color: var(--foreground); }
.bg-redish     { background-color: var(--redish);     }
.bg-orangish   { background-color: var(--orangish);   }
.bg-greenish   { background-color: var(--greenish);   }
.bg-bluish     { background-color: var(--bluish);     }

.panel {
  margin: 0;
}

.panel-header {
  background-color: var(--panel-header-bg);
  font-weight: 600;
  font-size: 1.1rem;
  padding: var(--section-padding);
}

.panel-body {
  background-color: var(--panel-body-bg);
  color: var(--background);
  padding: var(--content-padding);
}

.panel-warning .panel-header {
  background-color: color(var(--background) blend(var(--orangish) 70%));
}

.panel-warning .panel-body {
  background-color: color(var(--background) blend(var(--orangish) 30%));
}

.panel-error .panel-header {
  background-color: color(var(--background) blend(var(--redish) 70%));
}

.panel-error .panel-body {
  background-color: color(var(--background) blend(var(--redish) 30%));
}

.panel-info .panel-header {
  background-color: color(var(--background) blend(var(--bluish) 70%));
}

.panel-info .panel-body {
  background-color: color(var(--background) blend(var(--bluish) 30%));
}
